<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imagetext">

  <uses-feature android:name="android.hardware.camera" />
  <uses-permission android:name="android.permission.CAMERA" />

    
    <uses-permission android:name="android.permission.INTERNET" />

   <application
        android:label="imagetext"
        android:icon="@mipmap/ic_launcher">


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />  
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
          
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
          
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

         <activity android:name="io.github.edufolly.fluttermobilevision.barcode.BarcodeCaptureActivity" />
        <activity android:name="io.github.edufolly.fluttermobilevision.ocr.OcrCaptureActivity" />
        <activity android:name="io.github.edufolly.fluttermobilevision.face.FaceCaptureActivity" />
    
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
